/* font style */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


  /* nav style */
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 280px;
  }
  .nav-head{
    font-size: 45px;
    font-weight: 800px;
  }
nav ul li{
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
}
nav ul li a{
    text-decoration: none;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-list-color{
    color: #474747;
    
}
  /* Shared style */
  .nav-color{
    color: #FD6E0A;
  }
  .btn{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    font-weight: bold;
    border-radius: 5px;
  }

  /* banner */
  .banner-greet{
    font-weight: 600px;
    font-size: 45px;
    color:#474747;
  }
  .banner-essay{
    font-weight: bold;
    font-size: 85px;
    color: #181818;
  }
  .bnr{
    font-size: 18px;
    color: #757575;
  }
  .btn-1{
    font-weight: bold;
    color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    border-color: #FD6E0A;
    background-color: white;
    margin-left: 20px;
  }
  .banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
  }
  .banner-title{
    width: 630px;
    height: 350px;
  }
  .img{
    width: 580px;
    height: 670px;
  }
  /* background images */
  .header-img{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-position: top left,bottom right;
    background-repeat: no-repeat;
  }