/* font style */
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


  /* nav style */
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 280px;
  }
  .nav-head{
    font-size: 45px;
    font-weight: 800px;
  }
nav ul li{
    list-style: none;
    margin-right: 50px;
    font-size: 20px;
}
nav ul li a{
    text-decoration: none;
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-list-color{
    color: #474747;
    
}
  /* Shared style */
  .nav-color{
    color: #FD6E0A;
  }
  .btn{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    font-weight: bold;
    border-radius: 5px;
  }

  /* banner */
  .banner-greet{
    font-weight: 600px;
    font-size: 45px;
    color:#474747;
  }
  .banner-essay{
    font-weight: bold;
    font-size: 85px;
    color: #181818;
  }
  .bnr{
    font-size: 18px;
    color: #757575;
  }
  .btn-1{
    font-weight: bold;
    color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    border-color: #FD6E0A;
    background-color: white;
    margin-left: 20px;
  }
  .banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
  }
  .banner-title{
    width: 630px;
    height: 350px;
  }
  .img{
    width: 580px;
    height: 670px;
  }

  /* background images */
  .header-img{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-position: top left,bottom right;
    background-repeat: no-repeat;
    background-color: #FFF8F3;
  }


  /* about me */
  main{
    max-width: 1140px;
    margin: 0 auto;
  }
  .about{
    background-color:#FFF8F3;
    border-radius: 30px;
    padding: 130px 160px;
    margin-top:150px;
    text-align: center;
    margin-bottom: 50px;
  }
  .about-title{
    font-weight: bold;
    font-size: 35px;
  }
  .about-essay{
    font-size: 18px;
    font-weight: 400px;
    color: #757575;
  }
  .about-item{
    font-size: 20px;
    color: #757575;
  }
  .about-description{
    font-weight: bold;
    font-size: 20px;
    color: #474747;
  }
  .about-items{
    display: flex;
    justify-content: space-around;
  }
  .main-color{
    background-color: white;
    border: 1px solid;
  }
  /* what do section */
  .skills{
    display: flex;
    justify-content: space-around;
  }
  .skills-item{
    background-color: whitesmoke;
    border-radius: 10px;
    height: 250px;
    width: 200px;
    padding: 100px 33px 80px 30px;
    margin-bottom: 150px;
    margin-top: 10px;
  }
  .skill-greet{
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
  }
  .skill-margin{
    margin-top: 0;
  }
  /* resume */
  
  .resume-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    color: #181818;
  }
 .resume-container{
  display: flex;
  gap: 25px;
  text-align: left;
 }
 .resume-column-title{
  font-weight: bold;
  font-size: 30px;
  color: #474747;
 }
 .experience-title{
  font-weight: bold;
  font-size: 25px;
  color: #474747;
 }
 .experience-sub-title{
  font-weight: 600px;
  font-size: 20px;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 30px;
 }
 .experience-describtion{
  font-size: 16px;
  color: #757575;
 }
 .resume hr{
  margin: 30px 5px;
  color: #D1D1D1;
 }
 .cv-btn{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
 }